USE [220_Gordeev_Kval]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 27.12.2023 16:55:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[Id] [int] IDENTITY(100,1) NOT NULL,
	[Category] [varchar](50) NOT NULL,
	[Mark] [varchar](50) NOT NULL,
	[Model] [varchar](50) NOT NULL,
	[Year] [nchar](4) NOT NULL,
	[Number] [nchar](6) NOT NULL,
	[STSNumber] [nchar](10) NOT NULL,
	[PTSNumber] [nchar](10) NOT NULL,
	[DriverId] [int] NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 27.12.2023 16:55:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Title] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 27.12.2023 16:55:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Surname] [varchar](50) NOT NULL,
	[Patronymic] [varchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[Region] [varchar](50) NULL,
 CONSTRAINT [PK_Drivers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InsuranceCopmanyes]    Script Date: 27.12.2023 16:55:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsuranceCopmanyes](
	[Title] [varchar](50) NOT NULL,
 CONSTRAINT [PK_InsuranceCopmanyes] PRIMARY KEY CLUSTERED 
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Licenses]    Script Date: 27.12.2023 16:55:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Licenses](
	[Id] [int] IDENTITY(7,1) NOT NULL,
	[DriverId] [int] NOT NULL,
	[Series] [nchar](4) NOT NULL,
	[Number] [nchar](6) NOT NULL,
	[DateOfIssue] [date] NOT NULL,
 CONSTRAINT [PK_Licenses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marks]    Script Date: 27.12.2023 16:55:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marks](
	[Title] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Marks] PRIMARY KEY CLUSTERED 
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Models]    Script Date: 27.12.2023 16:55:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Models](
	[Title] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Models] PRIMARY KEY CLUSTERED 
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Passports]    Script Date: 27.12.2023 16:55:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passports](
	[Id] [int] IDENTITY(7,1) NOT NULL,
	[DriverId] [int] NOT NULL,
	[Series] [nchar](4) NOT NULL,
	[Number] [nchar](6) NOT NULL,
	[DateOfIssue] [date] NOT NULL,
 CONSTRAINT [PK_Passports] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Policies]    Script Date: 27.12.2023 16:55:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Policies](
	[Number] [nchar](13) NOT NULL,
	[InsuranceCompany] [varchar](50) NOT NULL,
	[RegistrationDate] [datetime2](7) NOT NULL,
	[ValidityPeriod] [datetime2](7) NOT NULL,
	[LicenseSeries] [nchar](4) NOT NULL,
	[LicenseNumber] [nchar](6) NOT NULL,
	[CarId] [int] NOT NULL,
	[DriverId] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Policies] PRIMARY KEY CLUSTERED 
(
	[Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regions]    Script Date: 27.12.2023 16:55:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[Title] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Regions] PRIMARY KEY CLUSTERED 
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 27.12.2023 16:55:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [varchar](20) NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[DriverId] [int] NULL,
	[Role] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cars] ON 

INSERT [dbo].[Cars] ([Id], [Category], [Mark], [Model], [Year], [Number], [STSNumber], [PTSNumber], [DriverId]) VALUES (106, N'A', N'Toyota', N'Neon', N'2019', N'527382', N'457299    ', N'359237    ', 7)
INSERT [dbo].[Cars] ([Id], [Category], [Mark], [Model], [Year], [Number], [STSNumber], [PTSNumber], [DriverId]) VALUES (107, N'BE', N'Jaguar', N'Atom', N'2020', N'528572', N'234278    ', N'352783    ', 8)
INSERT [dbo].[Cars] ([Id], [Category], [Mark], [Model], [Year], [Number], [STSNumber], [PTSNumber], [DriverId]) VALUES (108, N'C', N'Suzuki', N'L78', N'2017', N'471824', N'358238    ', N'238914    ', 9)
SET IDENTITY_INSERT [dbo].[Cars] OFF
GO
INSERT [dbo].[Categories] ([Title]) VALUES (N'A')
INSERT [dbo].[Categories] ([Title]) VALUES (N'B')
INSERT [dbo].[Categories] ([Title]) VALUES (N'BE')
GO
SET IDENTITY_INSERT [dbo].[Drivers] ON 

INSERT [dbo].[Drivers] ([Id], [Name], [Surname], [Patronymic], [DateOfBirth], [Region]) VALUES (7, N'Иван', N'Гордеев', N'Дмитриевич', CAST(N'2004-12-13' AS Date), N'Москва')
INSERT [dbo].[Drivers] ([Id], [Name], [Surname], [Patronymic], [DateOfBirth], [Region]) VALUES (8, N'Александр', N'Сидоров', N'Анатольевич', CAST(N'2004-10-30' AS Date), N'Москва')
INSERT [dbo].[Drivers] ([Id], [Name], [Surname], [Patronymic], [DateOfBirth], [Region]) VALUES (9, N'Мария', N'Гущина', N'Владимировна', CAST(N'2004-01-22' AS Date), N'Москва')
SET IDENTITY_INSERT [dbo].[Drivers] OFF
GO
INSERT [dbo].[InsuranceCopmanyes] ([Title]) VALUES (N'Авто')
INSERT [dbo].[InsuranceCopmanyes] ([Title]) VALUES (N'Альфа')
INSERT [dbo].[InsuranceCopmanyes] ([Title]) VALUES (N'Зетта')
GO
SET IDENTITY_INSERT [dbo].[Licenses] ON 

INSERT [dbo].[Licenses] ([Id], [DriverId], [Series], [Number], [DateOfIssue]) VALUES (7, 7, N'4356', N'239842', CAST(N'2020-10-20' AS Date))
INSERT [dbo].[Licenses] ([Id], [DriverId], [Series], [Number], [DateOfIssue]) VALUES (8, 8, N'2352', N'235737', CAST(N'2019-04-23' AS Date))
INSERT [dbo].[Licenses] ([Id], [DriverId], [Series], [Number], [DateOfIssue]) VALUES (9, 9, N'5864', N'896892', CAST(N'2018-12-08' AS Date))
SET IDENTITY_INSERT [dbo].[Licenses] OFF
GO
INSERT [dbo].[Marks] ([Title]) VALUES (N'Aston Martin')
INSERT [dbo].[Marks] ([Title]) VALUES (N'Jaguar')
INSERT [dbo].[Marks] ([Title]) VALUES (N'Land Rover')
GO
INSERT [dbo].[Models] ([Title]) VALUES (N'911')
INSERT [dbo].[Models] ([Title]) VALUES (N'A6')
INSERT [dbo].[Models] ([Title]) VALUES (N'Accent')
GO
SET IDENTITY_INSERT [dbo].[Passports] ON 

INSERT [dbo].[Passports] ([Id], [DriverId], [Series], [Number], [DateOfIssue]) VALUES (7, 7, N'3253', N'235347', CAST(N'2020-12-07' AS Date))
INSERT [dbo].[Passports] ([Id], [DriverId], [Series], [Number], [DateOfIssue]) VALUES (8, 8, N'2357', N'238492', CAST(N'2020-12-07' AS Date))
INSERT [dbo].[Passports] ([Id], [DriverId], [Series], [Number], [DateOfIssue]) VALUES (9, 9, N'2352', N'236549', CAST(N'2020-12-07' AS Date))
SET IDENTITY_INSERT [dbo].[Passports] OFF
GO
INSERT [dbo].[Policies] ([Number], [InsuranceCompany], [RegistrationDate], [ValidityPeriod], [LicenseSeries], [LicenseNumber], [CarId], [DriverId], [Price]) VALUES (N'12491274182  ', N'Ингосстрах', CAST(N'2020-03-03T00:00:00.0000000' AS DateTime2), CAST(N'2025-03-03T00:00:00.0000000' AS DateTime2), N'3523', N'358343', 111, 12, CAST(1000000.00 AS Decimal(10, 2)))
INSERT [dbo].[Policies] ([Number], [InsuranceCompany], [RegistrationDate], [ValidityPeriod], [LicenseSeries], [LicenseNumber], [CarId], [DriverId], [Price]) VALUES (N'23428934923  ', N'Ингосстрах', CAST(N'2023-10-30T00:00:00.0000000' AS DateTime2), CAST(N'2028-10-30T00:00:00.0000000' AS DateTime2), N'2936', N'235820', 115, 16, CAST(1000000.00 AS Decimal(10, 2)))
INSERT [dbo].[Policies] ([Number], [InsuranceCompany], [RegistrationDate], [ValidityPeriod], [LicenseSeries], [LicenseNumber], [CarId], [DriverId], [Price]) VALUES (N'23582359235  ', N'Ингосстрах', CAST(N'2021-05-13T00:00:00.0000000' AS DateTime2), CAST(N'2026-05-13T00:00:00.0000000' AS DateTime2), N'2359', N'519823', 109, 10, CAST(1000000.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Regions] ([Title]) VALUES (N'Адыгея')
INSERT [dbo].[Regions] ([Title]) VALUES (N'Алтай')
INSERT [dbo].[Regions] ([Title]) VALUES (N'Бурятия')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [Login], [Password], [DriverId], [Role]) VALUES (1, N'Beccecka07', N'kissme', 7, N'Водитель')
INSERT [dbo].[Users] ([id], [Login], [Password], [DriverId], [Role]) VALUES (2, N'Vania08', N'sider', 8, N'Водитель')
INSERT [dbo].[Users] ([id], [Login], [Password], [DriverId], [Role]) VALUES (3, N'Milya9', N'YIOVA', 9, N'Водитель')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Licenses]    Script Date: 27.12.2023 16:55:22 ******/
ALTER TABLE [dbo].[Licenses] ADD  CONSTRAINT [IX_Licenses] UNIQUE NONCLUSTERED 
(
	[Series] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Licenses_1]    Script Date: 27.12.2023 16:55:22 ******/
ALTER TABLE [dbo].[Licenses] ADD  CONSTRAINT [IX_Licenses_1] UNIQUE NONCLUSTERED 
(
	[Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_Categories] FOREIGN KEY([Category])
REFERENCES [dbo].[Categories] ([Title])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_Categories]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_Drivers] FOREIGN KEY([DriverId])
REFERENCES [dbo].[Drivers] ([Id])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_Drivers]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_Marks] FOREIGN KEY([Mark])
REFERENCES [dbo].[Marks] ([Title])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_Marks]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_Models] FOREIGN KEY([Model])
REFERENCES [dbo].[Models] ([Title])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_Models]
GO
ALTER TABLE [dbo].[Drivers]  WITH CHECK ADD  CONSTRAINT [FK_Drivers_Regions] FOREIGN KEY([Region])
REFERENCES [dbo].[Regions] ([Title])
GO
ALTER TABLE [dbo].[Drivers] CHECK CONSTRAINT [FK_Drivers_Regions]
GO
ALTER TABLE [dbo].[Licenses]  WITH CHECK ADD  CONSTRAINT [FK_Licenses_Drivers1] FOREIGN KEY([DriverId])
REFERENCES [dbo].[Drivers] ([Id])
GO
ALTER TABLE [dbo].[Licenses] CHECK CONSTRAINT [FK_Licenses_Drivers1]
GO
ALTER TABLE [dbo].[Passports]  WITH CHECK ADD  CONSTRAINT [FK_Passports_Drivers1] FOREIGN KEY([DriverId])
REFERENCES [dbo].[Drivers] ([Id])
GO
ALTER TABLE [dbo].[Passports] CHECK CONSTRAINT [FK_Passports_Drivers1]
GO
ALTER TABLE [dbo].[Policies]  WITH CHECK ADD  CONSTRAINT [FK_Policies_Cars] FOREIGN KEY([CarId])
REFERENCES [dbo].[Cars] ([Id])
GO
ALTER TABLE [dbo].[Policies] CHECK CONSTRAINT [FK_Policies_Cars]
GO
ALTER TABLE [dbo].[Policies]  WITH CHECK ADD  CONSTRAINT [FK_Policies_Drivers] FOREIGN KEY([DriverId])
REFERENCES [dbo].[Drivers] ([Id])
GO
ALTER TABLE [dbo].[Policies] CHECK CONSTRAINT [FK_Policies_Drivers]
GO
ALTER TABLE [dbo].[Policies]  WITH CHECK ADD  CONSTRAINT [FK_Policies_InsuranceCopmanyes] FOREIGN KEY([InsuranceCompany])
REFERENCES [dbo].[InsuranceCopmanyes] ([Title])
GO
ALTER TABLE [dbo].[Policies] CHECK CONSTRAINT [FK_Policies_InsuranceCopmanyes]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Drivers] FOREIGN KEY([DriverId])
REFERENCES [dbo].[Drivers] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Drivers]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users] CHECK  (([Role]='Водитель' OR [Role]='Страховой агент'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users]
GO
